body {
  background: url(docs/assets/images/showerbubbles.png);
  background-size: cover;
  font-family: "Pixel Sans Serif", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
  color: #00204a;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin: 20px;
}

#game-board {
  /* padding: 0% 28%; */
  display: flex;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0px 0px;
}

#textScore {
  font-size: 20px;
  margin: 0px 0px 20px 0px;
  color: #6643b5;
}

#highScore {
  color: #6643b5;
  font-size: 20px;
}

#start-button {
  width: 720px;
  height: 570px;
  border: none;
  background-color: #bbe4e9;
  color: #379956;
  font-weight: bolder;
  font-size: 40px;
  position: absolute;
  opacity: 1;
  background-image: url(docs/assets/images/waving.png);
  background-size: 65%;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  font-family: "Pixel Sans Serif", sans-serif;
  /* visibility: hidden; */
}

#restart-button {
  width: 720px;
  height: 570px;
  border: none;
  background-color: #bbe4e9;
  color: #379956;
  font-weight: bolder;
  text-align: center;
  font-size: 50px;
  position: absolute;
  opacity: 1;
  background-image: url(docs/assets/images/angryPusheen.png);
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 35px;
  font-family: "Pixel Sans Serif", sans-serif;
  /* visibility: hidden; */
}
.hidden {
  visibility: hidden;
}

.rules {
  color: #00204a;
  text-align: center;
  margin: 10px;
  padding: 0px;
  font-size: 15px;
}
