body {
  background: url(docs/assets/images/showerbubbles.png);
  background-size: cover;
  font-family: "Nova Mono", monospace;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #5b446a;
  text-align: center;
  font-size: 52px;
  font-weight: bolder;
}

#game-board {
  /* padding: 0% 28%; */
  display: flex;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#start-button {
  width: 720px;
  height: 570px;
  border: none;
  background-color: #bbe4e9;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  opacity: 0.5;
  /* visibility: hidden; */
}

#restart-button {
  width: 720px;
  height: 570px;
  border: none;
  background-color: #bbe4e9;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  position: absolute;
  opacity: 0.5;
  /* visibility: hidden; */
}
.hidden {
  visibility: hidden;
}

/* #start-screen {
  width: 700px;
  height: 550px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #bbe4e9;
  opacity: 0.5;
} */

/* #restart-button {
  display: flex;
  width: 700;
  height: 550;
}
 */
.rules {
  color: #5b446a;
  text-align: center;
}
