body {
  background: url(docs/assets/images/showerbubbles.png);
  background-size: cover;
  font-family: "Yulong", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
  color: #5b446a;
  text-align: center;
  font-size: 90px;
  font-weight: bolder;
  margin: 10px;
}

#game-board {
  /* padding: 0% 28%; */
  display: flex;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0px 0px;
}

#textScore {
  font-size: 30px;
  margin: 0px 0px 10px 0px ;
}

#highScore {
  color: black;
  font-size: 30px;
}

#start-button {
  width: 720px;
  height: 570px;
  border: none;
  background-color: #bbe4e9;
  font-weight: bolder;
  font-size: 50px;
  position: absolute;
  opacity: 0.5;
  /* visibility: hidden; */
}

#restart-button {
  width: 720px;
  height: 570px;
  border: none;
  background-color: #bbe4e9;
  font-weight: bolder;
  text-align: center;
  font-size: 50px;
  position: absolute;
  opacity: 0.5;
  /* visibility: hidden; */
}
.hidden {
  visibility: hidden;
}

.rules {
  color: #5b446a;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
